body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.frame {
    /* box-sizing: border-box;
    width: 1920px;
    height: 1080px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: url('img/Background image.jpg') no-repeat center center;
    background-size: cover; */
    box-sizing: border-box;
    width: 1920px;
    height: 1080px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: url(img/Background\ image.jpg);
}
.container {
    position: absolute;
    width: 1180px;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: #000;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}


.header {
    width: 600px;
    height: 150px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #000;
    /* background: linear-gradient(135deg, #000, #333); */
    border-radius: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 40px;
    position: relative;
    left: 230px;
    margin-bottom: 60px;
}

.header-text {
    display: flex;
    align-items: center;
    
}

.mos {
    font-family: 'Jockey One', sans-serif;
    font-size: 96px; /* Adjust this value to make the text larger */
    font-weight: bold;
    color: #fff;
    margin-right: 10px;
}

.burger {
    font-family: 'Jockey One', sans-serif;
    font-size: 96px; /* Adjust this value to make the text larger */
    font-weight: bold;
    color: #FF6600;
}

.cashier {
    font-family: 'Jaldi';
    font-size: 50px;
    color: #fff;
    margin-top: 10px;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.button {
    background-color: #FF6600;
    color: white;
    border: 1px solid white;
    padding: 20px;
    cursor: pointer;
    border-radius: 100px;
    transition: all 0.3s ease;
    font-family: 'Jaldi';
    font-style: normal;

    font-weight: bold;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
}

.button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transform: scale(1.05);
}

.back-button {
    position: absolute;
    bottom: 130px;
    right: 80px;
    background-color: #000;
    border: 4px solid white;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}
.back-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    border: 4px solid #FB710C;
}
.back-button svg {
    fill: #FB710C;
}
