body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.frame {
    box-sizing: border-box;
    width: 1920px;
    height: 1080px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: url(img/Background\ image.jpg);
}

.container {
    position: absolute;
    width: 1180px;
    height: 800px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    background-color: rgba(26, 26, 26, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.left-panel {
    padding: 40px;
    color: white;
    flex: 1;
}

.right-panel {
    padding: 40px;
    background-color: black;
    height: 800px;
    width: 650px;
    color: white;
    flex: 1;
    align-items: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
}

.question {
    /* font-size: 32px;
    margin-bottom: 30px;
    font-family: Arial, sans-serif; */
    font-family: 'Jockey One';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 103px;

align-items: center;
text-align: center;

color: #FFFFFF;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Jaldi';
    font-style: normal;

    font-weight: bold;
    font-size: 38px;
    line-height: 64px;
    text-align: center;
}
.button-link {
    text-decoration: none;
    display: block;
}

.admin {
    background-color: white;
    color: #FB710C;

}

.admin:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}

.cashier {
    background-color: #ff6600;
    color: white;
}

.cashier:hover {
    background-color: #ff7f2a;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(255, 102, 0, 0.3);
}

.burger-img {
    padding-top: 100px;
    width: 602px;
    height: 587px;
    left: 721px;
    top: 337px;
}
